html,
body,
#root {
  margin: 0;
  width: 380px;
  height: auto;
  background: transparent;
  transition: height 02s ease;
}

body {
  background: oklch(var(--b2));
}

#root {
  width: 100%;
  height: 100%;
}
